body {
        display: flex;
        flex-direction: column;
        color: $main-color;
        font-family: $main-font;
        font-size: $font-size;
        background-color: black;
}

//Setup NYT logo and selection bar with media query
.headLarge {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;

        @include tablet {
                display: flex;
                flex-direction: row;
        }

        @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: left;
                margin-left: 60px;
        }
}

//Style setup upon news are loaded
.headSmall {
        min-height: 10vh;
        transition: 1s;
        margin-bottom: 30px;

        .logoLarge {
                margin-top: 30px;
                height: 150px;
        }

        @include tablet {
                padding-top: 0;
                
                #choose { 
                        margin-left: 100px;
                }
                .logoLarge {
                        height: 95px;
                        width: auto;
                        margin-bottom: 1rem;
                }
        }
}
//Size of NYT logo
        .logoLarge {
                width: 220px;
                height: 200px;
                color:black;
        }
        
                #choose p {
                        padding: 15px 0px;
                        text-align: center;
                        font-size: $font-size;
                        font-family: $main-font;
                }
        
                #sectionSelect {
                        font-size: $font-size;
                        font-family: $main-font;
                        align-self: center;
                }

        //loader setup
        #loader {
                display: none;
                align-self: center;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;            
        }


//Loaded news are appended in ul using grid style
ul {
        display: grid;
        grid-template-columns: auto;

        @include tablet {
                display: grid;
                grid-template-columns: auto auto auto;
        }

        @include desktop {
                display: grid;
                grid-template-columns: auto auto auto auto;
        }

}

        .grid {
                width: 100%;

                li {
                        width: 100%;
                        position: relative;
                        transition:all 0.5s ease-in;
                        overflow: hidden;    
                //images from the news
                img {
                        height: 100vw;
                        width: 100%;
                        object-fit: cover;

                        @include tablet {
                                height: 70vh;
                        }

                        @include desktop {
                                height: 50vh;
                        }
                }
                //abstract from news are translate vertically
                p {
                        height: auto;
                        margin: 0;
                        padding: 10px;
                        text-align: left;
                        line-height: 1.5em;
                        position: absolute;
                        margin-top: auto;
                        transform: translateY(100%);
                        width: 100%;
                        color:$main-color;
                        font-size: $font-size;
                        font-family: $main-font;
                        background: rgba(0,0,0 , 0.5);
                        transition: 0.5s ease-in-out;
                        box-sizing: border-box;
                }

                &:hover p {
                        padding: 10px 10px;
                        transform: translateY(-100%);
                }
        }
}
//Condition setup for footer to stick in the bottom of the page
.sticky-footer {
        color: #c2c2c2;
        font-family: 'Open Sans Light';
        font-size: 16px;
        position: relative;
        width: 100%;
        height: 10vh;
        margin-top: 30px;
        text-align: center;

    

        @include desktop {
                text-align:  left;
                margin-left: 40px;     
        }
}
        